modules = ["nodejs-20", "postgresql-16", "python-3.11", "python3"]

[nix]
channel = "stable-24_05"
packages = ["cargo", "fontconfig", "freetype", "ghostscript", "glib", "glibcLocales", "gumbo", "harfbuzz", "jbig2dec", "jre", "libiconv", "libjpeg_turbo", "libxcrypt", "mupdf", "openjpeg", "pango", "rustc", "swig", "unzip", "xcbuild"]

[deployment]
deploymentTarget = "autoscale"
run = ["streamlit", "run", "app.py", "--server.port", "5000"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Analysis Platform"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "VeritasLogic Website"

[[workflows.workflow]]
name = "Analysis Platform"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python start_analysis.py"
waitForPort = 5000

[[workflows.workflow]]
name = "VeritasLogic Website"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python backend_api.py --port 3000"
waitForPort = 3000

[[ports]]
localPort = 3000
externalPort = 3001

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3000

[[ports]]
localPort = 8000
externalPort = 8000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8501
externalPort = 3002

[[ports]]
localPort = 35263
externalPort = 5173

[[ports]]
localPort = 39195
externalPort = 9000

[[ports]]
localPort = 39597
externalPort = 5000

[[ports]]
localPort = 40771
externalPort = 8099

[[ports]]
localPort = 40941
externalPort = 4200

[[ports]]
localPort = 43801
externalPort = 3003

[[ports]]
localPort = 43909
externalPort = 6800

[[ports]]
localPort = 44889
externalPort = 6000

[[ports]]
localPort = 44927
externalPort = 8008

[[ports]]
localPort = 46133
externalPort = 8081

[agent]
integrations = ["python_sendgrid==1.0.0"]
