modules = ["python-3.11", "python3"]

[nix]
channel = "stable-24_05"
packages = ["cargo", "fontconfig", "freetype", "ghostscript", "glib", "glibcLocales", "gumbo", "harfbuzz", "jbig2dec", "jre", "libiconv", "libjpeg_turbo", "libxcrypt", "mupdf", "openjpeg", "pango", "rustc", "swig", "xcbuild"]

[deployment]
deploymentTarget = "autoscale"
run = ["streamlit", "run", "app.py", "--server.port", "5000"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Multi-Standard Platform"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Website Server"

[[workflows.workflow]]
name = "Multi-Standard Platform"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "streamlit run home.py --server.port 5000 --server.address 0.0.0.0"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow]]
name = "Website Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -m http.server 8000 --directory veritaslogic_multipage_website"
waitForPort = 8000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 3000
externalPort = 3001

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3000

[[ports]]
localPort = 8000
externalPort = 8000

[agent]
